
<ion-header no-border>
  <ion-toolbar color="secondary">


    <!-- Page title -->
    <ion-title>Novedades</ion-title>

    <!-- Cart Button Option -->
    <ion-buttons slot="end">
      <ion-button color="white" >
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<!-- Contents -->
<ion-content id="deal">
  <ion-card>

    <!-- Any deal content image -->
    <img src="assets/foto1vienesa.jpeg" />

    <!-- Wish Button or Product Like/Dislike Button Option -->
    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button>
        <ion-icon color="secondary" name="heart"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!-- Deal contents -->
    <ion-card-header>
      <ion-card-title class="ion-padding-bottom">Descuento de 50%</ion-card-title>
      <ion-card-subtitle class="ion-text-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet libero, nam vitae sint aperiam veritatis nisi</ion-card-subtitle>
      <br>
      <ion-button color="secondary" size="small">Ver mas</ion-button>
    </ion-card-header>
  </ion-card>

  <ion-card>

    <!-- Any deal content image -->
    <img src="assets/foto2vienesa.jpeg" />

    <!-- Wish Button or Product Like/Dislike Button Option -->
    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button>
        <ion-icon color="secondary" name="heart"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!-- Deal contents -->
    <ion-card-header>
      <ion-card-title class="ion-padding-bottom">Descuento de 50%</ion-card-title>
      <ion-card-subtitle class="ion-text-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet libero, nam vitae sint aperiam veritatis nisi</ion-card-subtitle>
      <br>
      <ion-button color="secondary" size="small">Ver mas</ion-button>
    </ion-card-header>
  </ion-card>

  <ion-card>

    <!-- Any deal content image -->
    <img src="assets/banner-2.jpg" />

    <!-- Wish Button or Product Like/Dislike Button Option -->
    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button>
        <ion-icon color="secondary" name="heart"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!-- Deal contents -->
    <ion-card-header>
      <ion-card-title class="ion-padding-bottom">Descuento de 50%</ion-card-title>
      <ion-card-subtitle class="ion-text-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet libero, nam vitae sint aperiam veritatis nisi</ion-card-subtitle>
      <br>
      <ion-button color="secondary" size="small">Ver mas</ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>