<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-holder"></div>
  <div class="top-card absolute ion-text-center ion-padding-vertical">
    <ion-row class="top-row">
      <ion-col size="auto" class="ion-text-left">
        <p><strong>Oliver Pots</strong></p>
      </ion-col>
      <ion-col class="ion-text-right" id="right-col">
        <p>Actualizar</p>
      </ion-col>
    </ion-row>
    <ngx-gauge [type]="gaugeType" size="250" [value]="gaugeValue" [label]="gaugeLabel" [prepend]="gaugePrependText"
      thick="12" cap="round" foregroundColor="#e9bd15">

    </ngx-gauge>


  </div>

  <form class="bottom-section">
    <ion-searchbar 
      slot="fixed" 
      placeholder="Buscar Producto" 
      inputmode="search"  
      cancelButtonText="Cancelar" 
      showCancelButton="focus" 
      animated>
    </ion-searchbar>
  </form>


<!-- Categories -->
<div id="featured-products">
  <ion-item-divider color="white" class="ion-padding-top">
    <ion-label color="dark" class="text-bold">Productos Canjeables</ion-label>
    <ion-button class="ion-margin-end" size="small" slot="end" color="primary" fill="clear" routerLink="/tabs/products"
      routerDirection="root">Ver Todos</ion-button>
  </ion-item-divider>

  <ion-slides [options]="slideOpts" class="ion-padding-top">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card class="ion-no-margin">
              <div class="card-img" [style.background-image]="'url(' + imagen[0] + ')'"
                ></div>


              <ion-card-content>
                <ion-row>
                  <ion-text color="secondary">100 puntos &nbsp;</ion-text>
                </ion-row>
                <ion-row class="product-name">
                  <h4>Mixto Caliente</h4>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card class="ion-no-margin">
              <div class="card-img" [style.background-image]="'url(' + imagen[1] + ')'"
                ></div>


              <ion-card-content>
                <ion-row>
                  <ion-text color="secondary">100 puntos &nbsp;</ion-text>
                </ion-row>
                <ion-row class="product-name">
                  <h4>Frutas</h4>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card class="ion-no-margin">
              <div class="card-img" [style.background-image]="'url(' + imagen[2] + ')'"
                ></div>


              <ion-card-content>
                <ion-row>
                  <ion-text color="secondary">100 puntos &nbsp;</ion-text>
                </ion-row>
                <ion-row class="product-name">
                  <h4>Pizza</h4>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</div>

</ion-content>  