
<ion-content id="landing-page" fullscreen>
  <div class="section_one">
    <h2>Bienvenido</h2>
    <p>Canjea tus puntos y enterate de las ofertas</p>
  </div>

  <div class="section_two">
    <img style="max-height: 220px;" class="ion-padding" src="assets/invoice.svg" />
  </div>

  <div class="section_three">
    <p class="ion-padding">Acumula puntos en tus compras y comparte la app con tus amigos para ganar puntos adicionales</p>

    <!-- Button Options -->
    <div class="ion-padding">
      <ion-button expand="block" color="primary" routerLink="/login" routerDirection="forward">Ingresar</ion-button>
      <br>
      <ion-button expand="block" fill="outline" color="primary" routerLink="/register" routerDirection="forward">Registrarse
      </ion-button>


    </div>


    <div class="zoftek">
      <p>Powered by Zoftek</p>
    </div>
  </div>



</ion-content>